# Rename this file to local_env.yml
# Add account settings and API keys here.
# This file should be listed in .gitignore to keep your settings secret!
# Each entry gets set as a local environment variable.
# This file overrides ENV variables in the Unix shell.
# For example, setting:
# MANDRILL_API_KEY: 'Your_MANDRILL_API_KEY'
# makes 'Your_MANDRILL_API_KEY' available as ENV["MANDRILL_API_KEY"]
# MANDRILL_API_KEY: 'Your_MANDRILL_API_KEY'
